<%= heading (@page.new_record? ? 'New Page' : "Edit #{h(@page.title_was)}") %>

<form action="/pages/<%= h(@page.permalink_was) unless @page.new_record? %>" method="post">
  <%= base_errors_for @page %>
  
  <p>
    <label for="page_title">Title</label>
    <input type="text" name="page[title]" id="page_title" value="<%= h(@page.title) %>" />
    <%= error_message_for @page, :title %>
  </p>
  <p>
    <textarea name="page[body]" id="page_body" cols="60" rows="20"><%= h(@page.body) %></textarea>
    <%= error_message_for @page, :body %>
  </p>
  <p>
    <label for="page_parent_id">Parent</label>
    <select name="page[parent_id]">
      <%= options_for(Page.all, :title, :id, @page.parent_id, :empty => true, :exclude => @page) %>
    </select>
  </p>
  <p>
    <input type="submit" value="<%= @page.new_record? ? 'Create' : 'Update' %>" />
    <%= '<input type="hidden" name="_method" value="put" />' unless @page.new_record? %>
    or <a href="/<%= h(@page.permalink_was) unless @page.new_record? %>">Cancel</a>
  </p>
</form>