<%= heading 'Pages' %>


<% if @pages.present? %>

<form action="/pages" method="post">
  <div>
    <table>
      <tr>
        <th>Page</th>
        <th>Parent</th>
        <th>Path</th>
        <th colspan="3">Actions</th>
      </tr>
      <% @pages.each_with_index do |page, row_number| %>
        <tr<%= alternate_row row_number %>>
          <td>
            <a href="/<%= h page.permalink %>"><%= h page.title %></a>
          </td>
          <td><%= h(page.parent.title) if page.parent? %></td>
          <td>/<%= h page.permalink %></td>
          <td><a href="/pages/<%= h page.permalink %>/edit">Edit</a></td>
          <td><a href="/pages/<%= h page.permalink %>" class="delete">Delete</a></td>
          <td><input type="checkbox" name="pages[]" value="<%= h page.id %>" /></td>
        </li>
      <% end %>
    </table> 
  </div>
  <div class="actions">
    <a href="/pages/new">Create new page</a>
    or
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete Selected" />
  </div>
</form>
 
<% else %>

<p>There are no pages yet. Would you like to <a href="/pages/new">create one</a>?</p>

<% end %>